@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 100% 96%; /* Very light blue */
    --foreground: 222 84% 5%;

    --card: 222 100% 98%;
    --card-foreground: 222 84% 5%;

    --popover: 222 100% 98%;
    --popover-foreground: 222 84% 5%;

    --primary: 229 58% 45%; /* Dark blue */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 91%;
    --secondary-foreground: 222 84% 5%;

    --muted: 210 40% 91%;
    --muted-foreground: 225 10% 45%;

    --accent: 255 84% 65%; /* Purple */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 40% 89%;
    --input: 210 40% 89%;
    --ring: 229 58% 45%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 229 58% 55%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 255 84% 70%;
    --accent-foreground: 222 84% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 229 58% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    background-color: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    box-shadow: none !important;
    border: none !important;
    margin: 0;
    padding: 0;
    page-break-after: auto;
  }
  #pdf-container {
    padding: 0;
    margin: 0;
  }
}
